// =============================================================================
//  LAYOUT - CONTAINERS
// =============================================================================

.container {
    @include container;
    box-sizing: border-box;
    max-width: $max-width-content-tablet;

    @include screen-md-min {
        max-width: $max-width-content;
    }
}

.main {
    padding-top: 58px;
    padding-bottom: 200px;
    margin-bottom: 200px;
}