// =============================================================================
//  LAYOUT - CONTAINERS
// =============================================================================

body {
    background-color: $grey-very-dark;
}

.container {
    @include container;
    box-sizing: border-box;
    max-width: $max-width-content-tablet;

    @include screen-md-min {
        max-width: $max-width-content;
    }

    &--wide {
        @include screen-md-min {
            max-width: $max-width-content-wide;
        }
    }
}

.main {
    padding-top: 58px;
    margin-bottom: 230px;

    @include screen-sm-min {
        margin-bottom: 300px;
    }

    @include screen-md-min {
        padding-top: 70px;
        margin-bottom: 320px;
    }
}

.app-wrapper {
    height: 100%;
}

.app-wrapper.theme--inverted {
    background-color: $primary-colour;
}