// =============================================================================
//  LAYOUT - GRID
// =============================================================================

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: -$grid-gutter;

    > .grid__col {
        padding: $grid-gutter;
        width: 100%;
    }

    @for $i from 1 through $default-grid-cols {
        > .grid__col-#{$i} {
            width: col-width($i, $default-grid-cols);
        }

        > .grid__col-offset-#{$i} {
            margin-left: col-width($i, $default-grid-cols);
        }
    }

    @include screen-sm-min {
        @for $i from 1 through $default-grid-cols {
            > .grid__col-sm-#{$i} {
                width: col-width($i, $default-grid-cols);
            }

            > .grid__col-offset-sm-#{$i} {
                margin-left: col-width($i, $default-grid-cols);
            }
        }
    }

    @include screen-md-min {
        @for $i from 1 through $default-grid-cols {
            > .grid__col-md-#{$i} {
                width: col-width($i, $default-grid-cols);
            }

            > .grid__col-offset-md-#{$i} {
                margin-left: col-width($i, $default-grid-cols);
            }
        }
    }

    @include screen-lg-min {
        @for $i from 1 through $default-grid-cols {
            > .grid__col-lg-#{$i} {
                width: col-width($i, $default-grid-cols);
            }

            > .grid__col-offset-lg-#{$i} {
                margin-left: col-width($i, $default-grid-cols);
            }
        }
    }

    &.grid--reverse {
        flex-direction: row-reverse;
    }

    &.grid--gutter-sm {
        margin: (-$grid-gutter-sm);

        > .grid__col {
            padding: $grid-gutter-sm;
        }
    }

    &.grid--v-gutter-sm {
        margin-bottom: (-$grid-gutter-sm);
        margin-top: (-$grid-gutter-sm);

        > .grid__col {
            padding-bottom: $grid-gutter-sm;
            padding-top: $grid-gutter-sm;
        }
    }

    &.grid--h-gutter-sm {
        margin-left: (-$grid-gutter-sm);
        margin-right: (-$grid-gutter-sm);

        > .grid__col {
            padding-left: $grid-gutter-sm;
            padding-right: $grid-gutter-sm;
        }
    }

    &.grid--gutter-xs {
        margin: (-$grid-gutter-xs);

        > .grid__col {
            padding: $grid-gutter-xs;
        }
    }

    &.grid--v-gutter-xs {
        margin-bottom: (-$grid-gutter-xs);
        margin-top: (-$grid-gutter-xs);

        > .grid__col {
            padding-bottom: $grid-gutter-xs;
            padding-top: $grid-gutter-xs;
        }
    }

    &.grid--h-gutter-xs {
        margin-left: (-$grid-gutter-xs);
        margin-right: (-$grid-gutter-xs);

        > .grid__col {
            padding-left: $grid-gutter-xs;
            padding-right: $grid-gutter-xs;
        }
    }

    &.grid--gutter-none {
        margin: 0;

        > .grid__col {
            padding: 0;
        }
    }

    &.grid--v-gutter-none {
        margin-bottom: 0;
        margin-top: 0;

        > .grid__col {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    &.grid--h-gutter-none {
        margin-left: 0;
        margin-right: 0;

        > .grid__col {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
