// =============================================================================
//  COMPONENTS - IMPORT ALL
// =============================================================================

@import '_header';
@import '_footer';
@import '_nav';
@import '_project-thumbnail';
@import '_project-banner';
@import '_hero';


.title-with-decoration {
    position: relative;

    &::before {
        @include position(absolute, null null -5px 0);
        content: '';
        display: block;
        width: 18px;
        height: 5px;
        background-color: $primary-colour;
    }
}