// =============================================================================
//  COMPONENTS - BROWSER WINDOW
// =============================================================================

.browser-window {
    height: 33px;
    width: 100%;
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


    &__controls {
        > span {
            display: inline-block;
            width: 12px;
            height: 12px;
            border-radius: 12px;
            margin-right: 7px;

            &:nth-child(1) {
                border: 1px solid #db3e39;
                background: radial-gradient(circle, #ff7b76 0%, #ff544d 100%);
            }
            &:nth-child(2) {
                border: 1px solid #da9617;
                background: radial-gradient(circle, #ffcc6d 0%, #ffb429 100%);
            }
            &:nth-child(3) {
                border: 1px solid #12a127;
                background: radial-gradient(circle, #83c48c 0%, #24c238 100%);
            }
        }
    }
}