// =============================================================================
//  COMPONENTS - CAROUSEL
// =============================================================================

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.slick-dots {
    top: -40px !important;

    li {
        button {
            cursor: pointer;
            width: 20px;
            height: 20px;

            &:before {
                font-size: 16px !important;
                opacity: 1 !important;
                color: $grey-base !important;
            }

            &:focus {
                &:before {
                    color: $grey !important;
                }
            }

            &:hover,
            &:active {
                &:before {
                    color: $primary-colour !important;
                }
            }
        }

        &.slick-active {
            button {
                &:before {
                    color: $primary-colour !important;
                }
            }
        }
    }
}