// =============================================================================
//  COMPONENTS - HERO
// =============================================================================

.hero {
    padding: rem(120) 0 rem(30) 0;

    @include screen-sm-min {
        padding: rem(140) 0 rem(50) 0;
    }

    @include screen-md-min {
        padding-top: rem(170);
        padding-bottom: rem(100);
    }

    &__title {
        @include heading-style-responsive(rem(40), rem(80));
        line-height: .95;
        padding-bottom: .2em;
    }

    &__sun {
        @include position(absolute, rem(-42) null null 39%);
        > svg {
            width: rem(38);
            fill: $primary-colour;
        }

        @include screen-md-min {
            > svg {
                width: rem(80);
            }
        }
    }
}