// =============================================================================
//  COMPONENTS - HOVERS
// =============================================================================

.hover {
    &:hover {
        svg {
            path {
                fill: $highlight-colour;
            }
        }

        color: $highlight-colour;

        .hover__text {
            color: $highlight-colour;
        }
    }
}

.hover--big {
    &:hover {
        svg {
            transform: scale(4);
            position: relative;
        }

        &.hover--header-social {
            top: 100px;
        }

        &.hover--footer-social {
            top: -100px;
        }
    }
}

.hover--arrow {
    transition: transform 1s;

    &:hover {
        .hover--arrow__arrow {
            transform: translate(0, -10px);
        }
    }
}