// =============================================================================
//  COMPONENTS - PROJECT BANNER
// =============================================================================

.project-banner {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-size: cover;

    @include screen-md-min {
        @include position(fixed, 80px null null 15px);
        height: 300px;
        width: calc(100% - 30px);
        z-index: 1;
    }
}

.project-wrap {
    @include screen-md-min {
        margin-top: 300px;
        position: relative;
        z-index: 2;
    }
}

.project-desc {
    padding-top: 25px;

    @include screen-sm-min {
        padding-top: 40px;
    }

    @include screen-md-min {
        padding-top: 80px;
    }
}

.project-bg {
    margin-top: 500px;

    @include screen-lg-min {
        background-color: #696c77;
    }
}

.project-container {
    position: relative;
    top: -500px;
    margin-bottom: -500px;
}

.project-screenshots-container {
    position: relative;
    z-index: 1;
    margin-top: 60px;

    @include screen-sm-min {
        margin-top: 20px;
    }
}

.project__touch-devices {
    @include margin(-5% auto 10% auto);
    width: 100%;
    max-width: 750px;

    @include screen-lg-min {
        @include position(absolute, 250px null null 50%);
        margin: 0;
        max-width: 430px;
    }
}

.project__imac {
    width: 100%;
    max-width: 800px;
}

.project__ipad {
    width: 40%;

    @include screen-lg-min {
        width: 250px;
        margin-left: 180px;
    }
}

.project__iphone {
    width: 22%;

    @include screen-lg-min {
        @include position(absolute, 85px null null 0);
        width: 150px;
        margin-left: 120px;
    }
}

.projects-nav {
    &__next,
    &__prev {
        position: fixed;
        top: 303px;
        z-index: 0;

        @include screen-sm-min {
            top: 318px;
            z-index: 1;
        }

        @include screen-md-min {
            top: 460px;
        }
    }

    &__next {
        right: 40px;
        text-align: left;
    }

    &__prev {
        left: 40px;
        text-align: right;
    }
}