// =============================================================================
//  COMPONENTS - PROJECT THUMBNAIL
// =============================================================================

.project-thumbnail {
    &_hover {
        width: 100%;
        height: 100%;
        cursor: crosshair;
    }

    @include screen-md-min {
        &_hover {
            background-color: $primary-base;
            transition: opacity .25s ease-out;
            opacity: 0;
        }

        &:hover {
            cursor: crosshair;
            .project-thumbnail_hover {
                opacity: 1;
                cursor: crosshair;
            }
        }
    }
}

.theme--inverted {
    .project-thumbnail {
        @include screen-md-min {
            .project-thumbnail_img {
                opacity: .3;
                transition: opacity 1s ease-out;
            }

            &:hover {
                .project-thumbnail_img {
                    opacity: 1;
                }
            }
        }
    }
}