// =============================================================================
//  COMPONENTS - PROJECT BANNER
// =============================================================================

.project-banner {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
}

.project-bg {
    margin-top: 500px;
}

.project-container {
    position: relative;
    top: -500px;
}