// =============================================================================
//  COMPONENTS - PROJECT THUMBNAIL
// =============================================================================

.project-thumbnail {
    &__hover {
        width: 100%;
        height: 100%;
        background-color: 'transparent';
    }

    &__title {
        font-size: $font-size-lg-mobile;
        margin-bottom: 40px;

        @include screen-sm-min {
            font-size: $font-size-lg-desktop;
        }

        @include screen-md-min {
            font-size: $font-size-sm-desktop;
            margin-bottom: 10px;
        }

        @include screen-lg-min {
            font-size: $font-size-lg-desktop;
            margin-bottom: 30px;
        }
    }

    @include screen-md-min {
        &__hover {
            transition: opacity .25s ease-out;
            opacity: 0;
        }
    }

    .thumbnail-2 {
        opacity: 0;
    }

    &:hover {
        .project-thumbnail__hover {
            opacity: 1;
            background-color: $primary-base;
            transition: all .25s ease-out;
        }

        .thumbnail-2 {
            animation: show-hide 2s infinite;
        }
    }
}

.theme--inverted {
    .project-thumbnail {
        .project-thumbnail__img {
            opacity: .3;
            transition: opacity 1s ease-out;
        }

        &:hover {
            .project-thumbnail__img {
                opacity: 1;
            }
        }
    }
}