// =============================================================================
//  SHARED - BODY
// =============================================================================

body {
    @include font-base;
    background-color: $grey-very-dark;
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    font-feature-settings: 'kern' 1, 'liga' 1, 'pnum' 1;
    text-shadow: $transparent-white 0 0 1px;
    text-size-adjust: 100%;
}
