// =============================================================================
//  TOOLS - ANIMATION FADES
// =============================================================================

// Fade out
@keyframes fade-out {
    0% {
        opacity: initial;
    }

    100% {
        opacity: 0;
    }
}

@mixin fade-out($duration: .3s) {
    animation-duration: $duration;
    animation-fill-mode: both;
    animation-name: fade-out;
}

.item-leave.item-leave-active {
    @include fade-out($duration: 1s);
}
