// =============================================================================
//  TRUMPS - BORDERS
// =============================================================================

.b-a-frame {
    border: 15px solid $grey-very-dark;
}

.b-b-none {
    border-bottom: none;
}

.b-b-thin {
    border-bottom: 1px solid $grey-keyline;
}
