// =============================================================================
//  TRUMPS - BORDERS
// =============================================================================

.b-a-frame {
    border: 15px solid $grey-very-dark;
}

.theme--inverted {
    .b-a-frame {
        border-color: $primary-colour;
    }    
}

.b-b-none {
    border-bottom: none;
}

.b-b-thin {
    border-bottom: 1px solid $grey-keyline;
}
