// =============================================================================
//  TRUMPS - HELPERS
// =============================================================================

.m-centre {
    @include margin(null auto);
}

.text-centre {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.hidden {
    display: none;
}
