// =============================================================================
//  TRUMPS - HELPERS
// =============================================================================

// Apply clearfix styles with classes .clearfix or .clear
.clear,
.clearfix {
    @include clearfix;
}

.m-centre {
    @include margin(null auto);
}

.text-centre {
    text-align: center;
}

.hidden {
    display: none;
}

.rotating {
    @include rotate;
}

.height-100 {
    height: 100%;
}

// Uses display flex to centre align content
.align-content-centre {
    @include align-content-centre;
}

.v-align-content-centre {
    @include v-align-content-centre;
}

  
.item-leave {
    opacity: 1;
    width: 100px;
}
  
.item-leave.item-leave-active {
    opacity: 0.01;
    width: 0px;
    transition: 700ms;
}

.icon-colour {
    &-primary {
        svg path {
            fill: $primary-colour;
        }
    }

    &-base {
        svg path {
            fill: $font-colour-base;
        }
    }
}

.float-right {
    float: right;
}

.theme--inverted {
    .icon-colour-base svg path {
        fill: $primary-colour;
    }
    .icon-colour-primary svg path {
        fill: $font-colour-base;
    }    
}