// =============================================================================
//  TRUMPS - POSITIONS
// =============================================================================

// Position properties
.pos-sta {
    position: static;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.pos-fix {
    position: fixed;
}

// Pinning an element in each corner
.pin-all {
    @include position(null, 0 0 0 0);
}

.pin-top-right {
    @include position(null, 0 0 auto auto);
}

.pin-bottom-right {
    @include position(null, auto 0 0 auto);
}

.pin-top-left {
    @include position(null, 0 auto auto 0);
}

.pin-bottom-left {
    @include position(null, auto auto 0 0);
}

// z-indexes
.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-10 {
    z-index: 10;
}

.z-index-20 {
    z-index: 20;
}

.z-index-30 {
    z-index: 30;
}

.z-index-40 {
    z-index: 40;
}

.z-index-50 {
    z-index: 50;
}

.z-index-99 {
    z-index: 99;
}

.z-index-999 {
    z-index: 999;
}
