// =============================================================================
//  TRUMPS - PRINT
// =============================================================================

@media print {
    @page {
        size: auto;
        margin: 0mm;
        overflow: auto;
    }

    body {
        margin: 0mm 0mm 0mm 0mm!important;
    }

    .no-border-for-print {
        border-width: 0!important;
    }

    .hide-for-print {
        display: none;
    }

    .no-margin-for-print {
        margin: 0!important;
        padding: 0!important;
    }
}