// =============================================================================
//  TRUMPS - TYPOGRAPHY
// =============================================================================

// sass-lint:disable no-important

p {
    @include p-v-spacing;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed $font-colour-base;

    &:hover {
        color: $highlight-colour;
        border-bottom-color: $highlight-colour;
    }
}

// Font sizes
.font-size-xxs {
    font-size: $font-size-xxs;
}

.font-size-xs {
    @include font-size-responsive($font-size-xs-mobile, $font-size-xs-desktop);
}

.font-size-sm {
    @include font-size-responsive($font-size-sm-mobile, $font-size-sm-desktop);
}

.font-size-md {
    @include font-size-responsive($font-size-md-mobile, $font-size-md-desktop);
}

.font-size-lg {
    @include font-size-responsive($font-size-lg-mobile, $font-size-lg-desktop);
}

.font-size-xl {
    @include font-size-responsive($font-size-xl-mobile, $font-size-xl-desktop);
}

h1 {
    @include heading-style-responsive($font-size-h1-mobile, $font-size-h1-desktop);
}

h2 {
    @include heading-style-responsive($font-size-h2-mobile, $font-size-h2-desktop);
}

h3 {
    @include heading-style-responsive($font-size-h3-mobile, $font-size-h3-desktop);
}

// Font weights
.font-weight-regular {
    font-family: $font-weight-regular !important;
    font-weight: normal !important;
}

.font-weight-bold {
    font-weight: $font-weight-bold !important;
}

// Font transform upper/lower
.font-uppercase {
    text-transform: uppercase !important;
    letter-spacing: .1em;
}

.font-lowercase {
    text-transform: lowercase !important;
}

// Font colours
.colour-base {
    color: $font-colour-base !important;

    a {
        border-bottom-color: $font-colour-base !important;

        &:hover {
            border-bottom-color: $font-colour-base!important;
        }
    }
}

.colour-primary {
    color: $primary-colour !important;

    a {
        border-bottom-color: $primary-colour !important;

        &:hover {
            border-bottom-color: $primary-colour!important;
        }
    }
}

.theme--inverted {
    .colour-primary {
        color: $font-colour-base !important;

        a {
            border-bottom-color: $font-colour-base !important;

            &:hover {
                border-bottom-color: $highlight-colour!important;
            }
        }
    }
}

.colour-inverted {
    color: $white !important;
}

.colour-light {
    color: $font-colour-light !important;
}

.colour-very-light {
    color:  $font-colour-very-light !important;
}

// Helper to remove link style on element
.remove-link-style {
    @include remove-link-styles;
}

// Helper to remove link styles on all anchor elements inside
.remove-link-styles {
    a {
        @include remove-link-styles;
    }
}