// =============================================================================
//  SETTINGS - PALETTE
// =============================================================================

// PALETTE //

// Black/white
$black: #000;
$white: #fff;

// Grey palette
$grey-base: #333;
$grey-lighten-80: tint($grey-base, 80);
$grey-lighten-60: tint($grey-base, 60);
$grey-lighten-50: tint($grey-base, 50);
$grey-lighten-40: tint($grey-base, 40);
$grey-lighten-30: tint($grey-base, 30);
$grey-lighten-20: tint($grey-base, 20);
$grey-lighten-15: tint($grey-base, 15);
$grey-lighten-6: tint($grey-base, 6);
$grey-lighten-3: tint($grey-base, 3);

// Primary palette
// $primary-base: #59edd6;
$primary-base: #F5E78E;
$primary-lighten-5: tint($primary-base, 5);
$primary-lighten-20: tint($primary-base, 30);
$primary-darken-30: shade($primary-base, 30);

// Other colours
$red: #c1272d;

// Opacities
$opacity-hover: .7;
$opacity-disabled: .5;

// Transparencies
$transparent: rgba(0, 0, 0, 0);
$transparent-white: rgba(255, 255, 255, .01);
$transparent-light-grey: rgba(255, 255, 255, .4);
$transparent-grey: rgba(215, 215, 215, .7);
$transparent-dark-grey: rgba(0, 0, 0, .5);
$transparent-very-dark-grey: rgba(0, 0, 0, .9);


// PALETTE USAGE //

// Greys
$background-colour-base: $white;
$grey-very-light: $grey-lighten-3;
$grey-light: $grey-lighten-6;
$grey: $grey-lighten-40;
$grey-dark: $grey-lighten-80;
$grey-very-dark: $grey-base;

// Primarys
$primary-colour: $primary-base;
$primary-colour-light: $primary-lighten-20;
$primary-colour-very-light: $primary-lighten-5;
$primary-colour-very-dark: $primary-darken-30;

// Keylines
$grey-keyline-light: $grey-lighten-15;
$grey-keyline: $grey-lighten-20;
$grey-keyline-dark: $grey-lighten-30;

// Typography
$font-colour-base: $grey-base;
$font-colour-light: $grey-lighten-50;
$font-colour-very-light: $grey-keyline;

// Forms
$form-keyline: $grey-keyline;
$radio-border: $grey-keyline;
$radio-fill-colour: $primary-colour;
$checkbox-border: $form-keyline;
$checked-fill-colour: $primary-colour;
$checkbox-bg-colour: transparent;
$error-red: $red;

// Other
$icon-colour: $font-colour-base;
$highlight-colour: #ff2c7b;
