// =============================================================================
//  SETTINGS - GRID
// =============================================================================

$default-grid-cols: 12;
$grid-gutter-md: $space-md;
$grid-gutter-sm: $space-sm;
$grid-gutter-xs: $space-xs;

$grid-gutter: $grid-gutter-md;
