// =============================================================================
//  SETTINGS - SCREEN
// =============================================================================

$screen-xs: 24em; // 384px
$screen-sm: 40em; // 640px
$screen-md: 50em; // 800px
$screen-lg: 68em; // 1088px
$screen-xl: 100em; // 1600px
