// =============================================================================
//  SETTINGS - TYPOGRAPHY
// =============================================================================

// Typography
$font-family-base: 'Noto Sans', sans-serif;

// font weights
$font-weight-regular: 400;
$font-weight-bold: 700;

// Line height
$line-height-base: 1.5;
$line-height-heading: 1.3;

// Font sizes
$font-size-xs-mobile: rem(10);
$font-size-xs-desktop: rem(12);
$font-size-sm-mobile: rem(12);
$font-size-sm-desktop: rem(14);
$font-size-md-mobile: rem(14);
$font-size-md-desktop: rem(16);
$font-size-lg-mobile: rem(16);
$font-size-lg-desktop: rem(20);
$font-size-xl-mobile: rem(20);
$font-size-xl-desktop: rem(36);

$font-size-h1-mobile: rem(28);
$font-size-h1-desktop: rem(46);
$font-size-h2-mobile: rem(22);
$font-size-h2-desktop: rem(26);
$font-size-h3-mobile: rem(20);
$font-size-h3-desktop: rem(24);
$font-size-h4-mobile: rem(18);
$font-size-h4-desktop: rem(22);
$font-size-h5-mobile: rem(16);
$font-size-h5-desktop: rem(20);
$font-size-h6-mobile: rem(14);
$font-size-h6-desktop: rem(18);