// =============================================================================
//  SETTINGS - WIDTHS
// =============================================================================

// widths scale
$width-xxs: 100px;
$width-xs: 150px;
$width-sm: 200px;
$width-md: 300px;
$width-lg: 400px;
$width-xl: 500px;
$width-xxl: 600px;
$width-xxxl: 700px;

// Max widths
$max-width-content-tablet: 540px;
$max-width-content: 1100px;
$max-width-content-wide: 1500px;
$max-width-content-narrow: 960px;
$max-width-text: 600px;
$max-width-text-wider: 640px;
$max-width-text-wide: 700px;
$max-width-text-narrow: 400px;
$max-width-screenshots: 700px;