// =============================================================================
//  TOOLS - TYPOGRAPHY
// =============================================================================

// Heading styles
@mixin heading-style {
    @include padding($typography-v-spacing null);
    font-weight: $font-weight-bold;
    line-height: $line-height-heading;
    margin: 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

// Defines heading size at mobile and desktop and includes heading styles
@mixin heading-style-responsive($mobile-size, $desktop-size) {
    @include heading-style;
    font-size: $mobile-size;

    @include screen-md-min {
        font-size: $desktop-size;
    }
}

// Defines font size at mobile and desktop
@mixin font-size-responsive($mobile-size, $desktop-size) {
    font-size: $mobile-size;

    @include screen-md-min {
        font-size: $desktop-size;
    }
}

// Defines the base font size
@mixin font-base {
    @include font-size-responsive($font-size-md-mobile, $font-size-md-desktop);
    color: $font-colour-base;
    font-family: $font-family-base;
    font-weight: $font-weight-regular;
    line-height: $line-height-base;
}

// Paragraph vertical spacing
@mixin p-v-spacing {
    margin: 0;
    padding-bottom: $typography-v-spacing;

    &:last-child {
        padding-bottom: 0;
    }
}
