// =============================================================================
//  BASE - BUTTON
// =============================================================================

// Remove rid of all default stying
button {
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
    user-select: none;

    &:focus {
        outline: none;
    }
}
